/*=================
Inicio-Estilos-cabcera
==================*/
.titulo{
    margin-top: 2rem;
}

@media (max-width: 768px){
    .titulo{
        text-align: center;
    }
    .slogan{
        text-align: center;
    }
}